<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Team I</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" alt=""> -->
        <h1 class="sitename">Team i</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#team">Team</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>Natural Language Processing</h1>
            <p>Indonesian ID Number Information Retrieval with Regular Expressions</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div><br>
    </section><!-- /Hero Section --><br>

    <div class="fyi">
      <h4 class="judul">Kamu Perlu Tahu!</h4>
      <table class="tableFYI">
          <thead>
              <tr>
                  <p>Ini cara baca NIK kamu!</p>
                  <p>Contoh NIK <b>3576014403910003</b></p>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>35</td>
                  <td>Kode Provinsi</td>
              </tr>
              <tr>
                  <td>76</td>
                  <td>Kode Kota/Kabupaten</td>
              </tr>
              <tr>
                  <td>01</td>
                  <td>Kode Kecamatan, setiap kecamatan memiliki kode yang berbeda</td>
              </tr>
              <tr>
                  <td>44</td>
                  <td>
                      Tanggal lahir. Kode untuk laki-laki: 01-31. <br>
                      Kode untuk perempuan: tanggal lahir + 40 (misal: 12 menjadi 52)
                  </td>
              </tr>
              <tr>
                  <td>03</td>
                  <td>Bulan lahir (01 untuk Januari hingga 12 untuk Desember)</td>
              </tr>
              <tr>
                  <td>91</td>
                  <td>Tahun lahir (dua digit terakhir)</td>
              </tr>
              <tr>
                  <td>0003</td>
                  <td>Nomor urut pendaftaran penduduk berdasarkan tanggal lahir</td>
              </tr>
          </tbody>
      </table>
  </div>

    
    <section id="services" class="service-section">
        <div class="container">
            <form method="POST" class="nik-form">
                <input type="text" name="nik" placeholder="Masukkan NIK (pastikan terdiri dari 16 digit agar hasilnya muncul)" required>
                <button type="submit" class="btn-get-started">Submit</button>
            </form>

            {% if hasil %}
            <div class="result-container">
                {% if hasil == 'Format NIK tidak valid.' %}
                    <p class="error-message">{{ hasil }}</p>
                {% else %}
                    <table class="result-table">
                        <tbody>
                            <tr>
                                <th>NIK</th>
                                <td>{{ hasil['NIK'] }}</td>
                            </tr>
                            <tr>
                                <th>Provinsi</th>
                                <td>{{ hasil['Provinsi'] }}</td>
                            </tr>
                            <tr>
                                <th>Kota/Kabupaten</th>
                                <td>{{ hasil['Kota/Kabupaten'] }}</td>
                            </tr>
                            <tr>
                                <th>Kecamatan</th>
                                <td>{{ hasil['Kecamatan'] }}</td>
                            </tr>
                            <tr>
                                <th>Tanggal Lahir</th>
                                <td>{{ hasil['Tanggal Lahir'] }}</td>
                            </tr>
                            <tr>
                                <th>Umur</th>
                                <td>{{ hasil['Umur'] }}</td>
                            </tr>
                            <tr>
                                <th>Jenis Kelamin</th>
                                <td>{{ hasil['Jenis Kelamin'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team i</h2>
        <p>NLP SD-A1</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/team.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Yusuf Eka Maulana</h4>
                <span>164221020</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/team.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Aufa Fahmi Syahman Halim</h4>
                <span>164221040</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/team.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Hafizah Mufida Novrizal Enda</h4>
                <span>164221071</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/team.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Amira Naila Zanira</h4>
                <span>164221100</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright text-center ">
        <p><strong class="px-1 sitename">Disclaimer</strong> <span>for educational purposes only</span></p>
      </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
   
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope/isotope.pkgd.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
